@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');

:root {
  --orange: #fe4812;
  --pink: #e82077;
  --navy: #0c112b;
  --red: #E5302B;
  --fs: 'fs', 'IBM Plex Sans', sans-serif;
  --elevate: 0 10px 20px rgba(0,0,0,0.19), 0 3px 6px rgba(0,0,0,0.23);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'IBM Plex Sans', sans-serif;
}

.w {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  display: block;
}

#hero {
  background: var(--pink);
  background: linear-gradient(60deg, rgba(236, 36, 30, 0.75) 0%, rgba(232, 32, 119, 0.75) 100%), url('assets/hack-area-2.png');
  color: white;
  padding: 5vh 0;
}

#hero p {
  padding-left: 2vw;
  margin-bottom: 0.25rem;
  font-size: 1.5em;
} 

#hero a {
  color: white;
}

#hero text {
  font-family: var(--fs);
  text-transform: uppercase;
  color: white;
}

#hero h3 {
  text-align: right;
  font-size: 2em;
  padding-right: 3vw;
  font-weight: normal;
  font-size: 1.5em;
}

#apply {
  background: var(--navy);
  color: white;
  padding: 3rem 1rem;
  text-align: center;
  font-size: 1.25em;
}

#apply a {
  background: var(--pink);
  color: white;
  padding: 0.75em 2em;
  margin-left: 2em;
  text-decoration: none;
  display: inline-block;
}

#intro {
  display: grid;
  grid-template-columns: 2fr 3fr;
  margin-top: 4em;
  margin-bottom: 4em;
}
#intro #themes p {
  font-family: var(--fs);
  text-transform: uppercase;
}

.f:nth-child(2n) {
  color: var(--orange);
}

.f:nth-child(2n + 1) {
  color: var(--pink);
}

#intro .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 4em;
  line-height: 1.5;
}

#intro .content p~p {
  margin-top: 1em;
}

#pics {
  margin-bottom: 4em;
}

#pics > div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
}

#pics img {
  width: 100%;
}

#pics p {
  text-align: center;
  margin-top: 1em;
}

#faq h2 {
  font-family: var(--fs);
  text-transform: uppercase;
  text-align: center;
  color: var(--orange);
  font-size: 2em;
  margin-bottom: 1em;
}

#faq ul {
  list-style-type: none;
  column-count: 2;
  column-gap: 2em;
}

#faq li {
  display: inline-block;
  margin-bottom: 2em;
  box-shadow: var(--elevate);
  padding: 1em;
  width: 100%;;
}

#faq h3 {
  margin-bottom: 1rem;
  font-family: var(--fs);
  text-transform: uppercase;
  font-size: 1.25em;
}

#faq p {
  line-height: 1.5;
}

#faq a {
  color: var(--pink);
}

#about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3em;
  margin-bottom: 4em;
  margin-top: 4em;
}

#about img {
  height: 7em;
}

#about p {
  margin-top: 1em;
}

@media screen and (max-width: 800px) {
  #hero p,
  #hero h3 {
    font-size: 1em;
  }
  #apply {
    padding: 1em 1em 1.5em 1em;
  }
  #apply span {
    display: block;
    margin-bottom: 1em
  }
  #apply a {
    margin-left: 0;
    padding: 0.5em 1em;
  }
  #intro {
    grid-template-columns: 1fr;
    margin-top: 1em;
    grid-gap: 2em;
  }
  #intro #themes .inner {
    width: 50%;
    margin: 0 auto;
  }
  #intro .content {
    padding-left: 0;
  }
  #pics > div {
    grid-template-columns: 1fr 1fr;
  }
  #faq ul {
    column-count: 1;
  }
  #about {
    grid-template-columns: 1fr;
  }
}